aiofiles==0.3.0
appdirs==1.4.0
httptools==0.0.9
Jinja2==2.9.4
MarkupSafe==0.23
multidict==2.1.4
packaging==16.8
passlib==1.7.1
pony==0.7.1
pyparsing==2.1.10
sanic==0.3.1
six==1.10.0
ujson==1.35
uvloop==0.7.2
