<html>
   <head>
      <title>Login</title>
        <meta http-equiv='Content-Type' content='text/html' charset="UTF-8">
      <link
         rel="stylesheet"
         type="text/css"
         href="/static/styles.css"
      >
   </head>
   <body  background="/static/background.jpg">
      <div id="login">
         <form method="POST">
            <label>E-mail or Name: </label>
            <input type="text" name="email_or_name"/><br>
            <label>Pasword: </label>
            <input type="password" name="password"/><br><br>
            <input type="submit" value="Enviar"/>
         </form>
      </div>
   </body>
</html>
